body {
	margin: 0px !important;
	background-color: white;
	color: black !important;
}

h1,
h2,
button {
	text-align: center;
}

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
}

.MuiBottomNavigationAction-root.Mui-selected {
	color: black !important;
}

.MuiPaper-root {
	color: black !important;
}

.MuiSnackbarContent-root {
	background-color: transparent !important;
}
.MuiDivider-root {
	background-color: black !important;
}

.MuiBottomNavigationAction-label {
	color: black !important;
	font-family: "Manjari", sans-serif !important;
}

.MuiBottomNavigation-root {
	background-color: transparent !important;
	color: white !important;
}

.MuiTypography-root {
	font-family: "Manjari", sans-serif !important;
}

li div p.MuiTypography-body1 {
	line-height: 2vh;
}

.MuiContainer-root {
	background-color: transparent;
}
.MuiContainer-root#intro {
	margin-top: 30vh;
}

.MuiContainer-root#about {
	height: 100%;
	min-height: 100vh;
	margin-top: 10px;
}

.MuiAppBar-colorDefault {
	background-color: transparent !important;
	box-shadow: none !important;
	width: 500 !important;
}

.MuiPaper-rounded {
	padding: 1em;
	background-color: transparent !important;
}

.MuiButton-root {
	color: black !important;
	border-color: black !important;
}
.MuiButton-label {
	font-family: "Manjari", sans-serif !important;
	padding-top: 5px;
}
.MuiButton-outlined {
	border-radius: 0px !important;
}
.MuiTouchRipple-root {
	color: black !important;
}

.MuiListItemText-root {
	max-width: fit-content !important;
}
.MuiListItemAvatar-root {
	text-align: center;
	min-width: 52px !important;
}

.MuiCard-root {
	margin-top: 15vh;
}

.MuiCardContent-root {
	min-height: 30vh;
	max-height: 30vh;
}

.MuiCardContent-root p {
	line-height: 2vh;
}

.MuiPaper-root span {
	font-family: "Manjari", sans-serif;
}

.MuiPaper-root span#progress {
	float: right;
}

.MuiListItem-dense {
	padding-bottom: 0.25vh;
	padding-top: 0.25vh;
}

.MuiListItemAvatar-root {
	font-size: 2vh;
}

.MuiSvgIcon-root {
	font-size: 3vh !important;
}

li div p.MuiTypography-body1 {
	line-height: 1.5vh;
}

.MuiTypography-h4 {
	font-size: 4vh !important;
}

div.MuiPaper-root p.MuiTypography-body1 {
	font-size: 2vh;
}

.listSkills p h6.MuiTypography-h6 {
	font-size: 2.5vh;
}

.listSkills p svg {
	font-size: 5vh;
}

.ml11 {
	font-weight: 500;
	font-size: 2.5em;
	margin: 0px;
	text-align: center;
}

.ml11 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.1em;
	padding-right: 0.05em;
	padding-bottom: 0.15em;
}

.ml11 .line {
	opacity: 0;
	position: absolute;
	left: 0;
	height: 100%;
	width: 3px;
	background-color: black;
	transform-origin: 0 50%;
}

.ml11 .line1 {
	top: 0;
	left: 0;
}

.ml11 .letter {
	display: inline-block;
	line-height: 1em;
	font-family: "Manjari", sans-serif;
}

.ml12 {
	font-weight: 200;
	font-size: 1.8em;
	letter-spacing: 0.1em;
}

.ml12 .letter {
	display: inline-block;
	line-height: 1em;
	font-family: "Manjari", sans-serif;
}

.ml13 {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid black;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	font-size: 1.2em;
	font-weight: 200;
	color: black;
	background-color: transparent;
	text-align: center;
	transition: all 0.2s;
}

.ml13:hover {
	color: black;
	background-color: black;
}

#introBtn {
	text-transform: none !important;
}

.MuiContainer-root {
	z-index: 1;
}

#fullpage {
	z-index: 0 !important;
	background-color: white;
}

.list {
	height: 100% !important;
	min-height: 35em !important;
}
.active {
	border-radius: 0px !important;
}
.fp-tooltip {
	color: black !important;
	font-family: "Manjari", sans-serif !important;
	top: 1px !important;
}

.fp-sr-only {
	background-color: black !important;
	font-family: "Manjari", sans-serif !important;
}

a span {
	border-radius: 0px !important;
}

svg {
	color: black !important;
}

img#avatar {
	width: 100%;
	max-width: 42vh;
	height: auto;
	max-height: 42vh;
	border-radius: 5px;
}

.listSkills {
	max-height: 80vh;
}

button#mySkills {
	background-color: transparent;
	border-style: none;
	transition: top ease 0.5s;
}
button#mySkills:focus {
	background-color: transparent;
	border-style: none;
	outline: 0;
}

button#mySkills:hover {
	top: -10px;
	background-color: transparent;
}

.MuiBottomNavigationAction-label {
	color: lightgray !important;
}
.MuiBottomNavigationAction-label.Mui-selected {
	color: black !important;	
}

@media all and (max-width: 1279px) and (min-width: 600px) {
	.MuiCardContent-root p {
		font-size: 0.775rem !important;
	}
	.MuiCardContent-root h2 {
		font-size: 1.3rem !important;
	}
	.cardActions span {
		font-size: 0.775rem !important;
	}
	.MuiPaper-root p {
		font-size: 1.5vh !important;
	}
}

@media all and (max-width: 960px) {
	img#avatar {
		width: 100%;
		max-width: 21vh;
		height: auto;
		max-height: 21vh;
		border-radius: 5px;
	}

	div.MuiPaper-root p.MuiTypography-body1 {
		font-size: 1.25vh !important;
	}
}

@media all and (max-width: 540px) {
	img#avatar {
		display: none !important;
	}
	h1.ml11 {
		font-size: 1.25rem;
	}
	span.line1 {
		transform: scaleY(0) translateX(200px) !important;
	}
	h2.ml12 {
		font-size: 1rem;
	}
	div.MuiPaper-root p.MuiTypography-body1 {
		font-size: 1.5vh !important;
	}
	div.MuiGrid-grid-lg-7 ul.MuiList-root {
		min-height: 100px !important;
	}
	li p.MuiTypography-body1 {
		font-size: 1.5vh !important;
		line-height: 1.5vh !important;
	}

	div.listSkills p svg {
		font-size: 3vh !important;
	}

	li div svg {
		font-size: 1.75vh !important;
	}

	li div svg.MuiSvgIcon-root {
		font-size: 2vh !important;
	}
	.listSkills {
		max-height: 63vh !important;
		min-height: 60vh !important;
		max-width: 10rem !important;
	}
	.MuiBottomNavigationAction-label.Mui-selected {
		font-size: 0.655rem !important;
	}
	.MuiBottomNavigationAction-label {
		font-size: 0.5rem !important;
	}
	.MuiTypography-h6 {
		font-size: 2vh !important;
	}
}

@media all and (max-width: 850px) and (min-width: 568px) {
	.MuiContainer-root#intro {
		margin-top: 10vh;
	}
}
